# Ejercicio de repaso: BBDD Relacionales

Ejercicio sacado directamente de una entrevista de trabajo para una conocida compañía de retail.

![tablas1](img/Tablas-1.png)
![tablas3](./img/Tablas-3.png)

## 1. Crea un DataFrame por cada tabla

In [1]:
import pandas as pd

In [5]:
from pandas import Series

familias = {"ID_DPTO": ["1", "1", "2", "3" ,"3","4" ],
            "COD_FAMILIA": ["1F1","1F1", "2F1", "3F1", "3F2", "4F1" ],
            "DESC_FAMILIA": ["Pulseras", "Anillos", "Bolso de mano", "Nautico", "Sandalias", "Bermudas"]}

departamento = {"ID_DPTO": ["1","2", "3", "4"],
                "DESC_DPTO": ["Joyeria", "Bolsos", "Zapatería", "BAÑO CAB" ] }

Articulos = {"REFERENCIA":["A","B", "C", "D", "E", "F", "G", "H" ],
            "ID_DPTO": ["1",  "2", "2", "2", "2", "3", "3", "4"],
            "COD_FAMILIA": ["1F1", "2F1", "2F1", "2F1", "2F1", "3F1", "3F2", "4F1"],
            "FECHA_ALTA": ["21/02/2010", "07/02/2014", "15/05/2014", "01/10/2005", "31/10/2010","20/04/2001", "14/02/2015", "25/03/2009" ] }

campanias = {'ID_CAMPANIA': ['CA1','CA2','CA3','CA4','CA5','CA6'],
            'TIPO': ['VENTA','VENTA','POSVENTA','VENTA','POSVENTA','POSVENTA'],
            'FECHA_CAMP': ['5/0/2012', '4/2/2012', '2/10/2009', '6/5/2010', '31/11/2010', '7/2/2015']}

depto_campania = {'ID_DPTO': ["1","1","2","3","3","3","4","4","4","4"],
                    'ID_CAMPANIA': ['CA1','CA4','CA2','CA2','CA5','CA6','CA1','CA2','CA3','CA6']} 

venta = {'TALON': ['01','02','03','04','05','06','07','08'],
            'REFERENCIA': ['A','A','A','D','E','E','H','H'],
            'PRECIO': [15,18,14,37.95,125.95,150,22.99,24],
            'FECHA_VENTA': ['11/2/2012','15/2/2012','2/10/2013','6/8/2010','31/11/2010','5/2/2011','11/4/2010','8/8/2011']} 


df1 = pd.DataFrame(familias)
df2 = pd.DataFrame(departamento)
df3 = pd.DataFrame(Articulos)
df4 = pd.DataFrame(campanias)
df5 = pd.DataFrame(depto_campania)
df6 = pd.DataFrame(venta) 

print(df1)
print(df2)
print(df3)
print(df4)
print(df5)
print(df6)

  ID_DPTO COD_FAMILIA   DESC_FAMILIA
0       1         1F1       Pulseras
1       1         1F1        Anillos
2       2         2F1  Bolso de mano
3       3         3F1        Nautico
4       3         3F2      Sandalias
5       4         4F1       Bermudas
  ID_DPTO  DESC_DPTO
0       1    Joyeria
1       2     Bolsos
2       3  Zapatería
3       4   BAÑO CAB
  REFERENCIA ID_DPTO COD_FAMILIA  FECHA_ALTA
0          A       1         1F1  21/02/2010
1          B       2         2F1  07/02/2014
2          C       2         2F1  15/05/2014
3          D       2         2F1  01/10/2005
4          E       2         2F1  31/10/2010
5          F       3         3F1  20/04/2001
6          G       3         3F2  14/02/2015
7          H       4         4F1  25/03/2009
  ID_CAMPANIA      TIPO  FECHA_CAMP
0         CA1     VENTA    5/0/2012
1         CA2     VENTA    4/2/2012
2         CA3  POSVENTA   2/10/2009
3         CA4     VENTA    6/5/2010
4         CA5  POSVENTA  31/11/2010
5         CA6  POSVENTA    7/2/2015
  ID_DPTO ID_CAMPANIA
0       1         CA1
1       1         CA4
2       2         CA2
3       3         CA2
4       3         CA5
5       3         CA6
6       4         CA1
7       4         CA2
8       4         CA3
9       4         CA6
  TALON REFERENCIA  PRECIO FECHA_VENTA
0    01          A   15.00   11/2/2012
1    02          A   18.00   15/2/2012
2    03          A   14.00   2/10/2013
3    04          D   37.95    6/8/2010
4    05          E  125.95  31/11/2010
5    06          E  150.00    5/2/2011
6    07          H   22.99   11/4/2010
7    08          H   24.00    8/8/2011

## 2. Genera una consulta que obtenga la lista ordenada de todas las referencias sin venta

In [6]:
consul = pd.merge(df3, df6, how ='outer')
consul

   REFERENCIA ID_DPTO COD_FAMILIA  FECHA_ALTA TALON  PRECIO FECHA_VENTA
0           A       1         1F1  21/02/2010    01   15.00   11/2/2012
1           A       1         1F1  21/02/2010    02   18.00   15/2/2012
2           A       1         1F1  21/02/2010    03   14.00   2/10/2013
3           B       2         2F1  07/02/2014   NaN     NaN         NaN
4           C       2         2F1  15/05/2014   NaN     NaN         NaN
5           D       2         2F1  01/10/2005    04   37.95    6/8/2010
6           E       2         2F1  31/10/2010    05  125.95  31/11/2010
7           E       2         2F1  31/10/2010    06  150.00    5/2/2011
8           F       3         3F1  20/04/2001   NaN     NaN         NaN
9           G       3         3F2  14/02/2015   NaN     NaN         NaN
10          H       4         4F1  25/03/2009    07   22.99   11/4/2010
11          H       4         4F1  25/03/2009    08   24.00    8/8/2011

In [36]:
consul[consul.isnull().any(1)]

  REFERENCIA ID_DPTO COD_FAMILIA  FECHA_ALTA TALON  PRECIO FECHA_VENTA
3          B       2         2F1  07/02/2014   NaN     NaN         NaN
4          C       2         2F1  15/05/2014   NaN     NaN         NaN
8          F       3         3F1  20/04/2001   NaN     NaN         NaN
9          G       3         3F2  14/02/2015   NaN     NaN         NaN

## 3. Genera una consulta que obtenga las ventas comprendidas entre 2010 y 2011 (ambos incluidos), que estén asociados a una campaña de tipo VENTA y que sean del departamento de JOYERÍA.

In [7]:
consul2 = consul.dropna(subset=['TALON','PRECIO','FECHA_VENTA'])
consul2

   REFERENCIA ID_DPTO COD_FAMILIA  FECHA_ALTA TALON  PRECIO FECHA_VENTA
0           A       1         1F1  21/02/2010    01   15.00   11/2/2012
1           A       1         1F1  21/02/2010    02   18.00   15/2/2012
2           A       1         1F1  21/02/2010    03   14.00   2/10/2013
5           D       2         2F1  01/10/2005    04   37.95    6/8/2010
6           E       2         2F1  31/10/2010    05  125.95  31/11/2010
7           E       2         2F1  31/10/2010    06  150.00    5/2/2011
10          H       4         4F1  25/03/2009    07   22.99   11/4/2010
11          H       4         4F1  25/03/2009    08   24.00    8/8/2011

In [8]:
consul_dep = pd.merge(consul2,df2, how = 'outer')
consul_dep

,REFERENCIA,ID_DPTO,COD_FAMILIA,FECHA_ALTA,TALON,PRECIO,FECHA_VENTA,DESC_DPTO
0,A,1,1F1,21/02/2010,01,15.00,11/2/2012,Joyeria
1,A,1,1F1,21/02/2010,02,18.00,15/2/2012,Joyeria
2,A,1,1F1,21/02/2010,03,14.00,2/10/2013,Joyeria
3,D,2,2F1,01/10/2005,04,37.95,6/8/2010,Bolsos
4,E,2,2F1,31/10/2010,05,125.95,31/11/2010,Bolsos
5,E,2,2F1,31/10/2010,06,150.00,5/2/2011,Bolsos
6,H,4,4F1,25/03/2009,07,22.99,11/4/2010,BAÑO CAB
7,H,4,4F1,25/03/2009,08,24.00,8/8/2011,BAÑO CAB
8,NaN,3,NaN,NaN,NaN,NaN,NaN,Zapatería

In [11]:

consul_venta = pd.merge(consul_dep,df4)

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

## 4. Genere una consulta que cree un campo “co_ranking” que clasifique en orden ascendente las campañas según el total de venta, siendo 1 la campaña que más ha vendido y N la que menos. (N = Total de campañas)

In [12]:
co_ranking = consul2['TALON'].astype(float)*consul2['PRECIO'].astype(float)
consul2['co_ranking'] = co_ranking
consul2

consul2_2 = consul2.sort_values('co_ranking', ascending=False)
consul2_2

c:\Users\usuario\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,REFERENCIA,ID_DPTO,COD_FAMILIA,FECHA_ALTA,TALON,PRECIO,FECHA_VENTA,co_ranking
7,E,2,2F1,31/10/2010,06,150.00,5/2/2011,900.00
6,E,2,2F1,31/10/2010,05,125.95,31/11/2010,629.75
11,H,4,4F1,25/03/2009,08,24.00,8/8/2011,192.00
10,H,4,4F1,25/03/2009,07,22.99,11/4/2010,160.93
5,D,2,2F1,01/10/2005,04,37.95,6/8/2010,151.80
2,A,1,1F1,21/02/2010,03,14.00,2/10/2013,42.00
1,A,1,1F1,21/02/2010,02,18.00,15/2/2012,36.00
0,A,1,1F1,21/02/2010,01,15.00,11/2/2012,15.00

## 5. Clasifique todas las ventas en Mayor, Igual o Menor precio respecto a la media de los precios de todas las ventas realizadas.

**Resultado**:


![tablares](img/Tablas-4.png)

In [ ]:
consul2_shape

In [13]:
sumatoria_precios = consul2['PRECIO'].sum()
numero_precios = consul2.shape[0]
media = sumatoria_precios/numero_precios
media
def mayor_menor(precio):
    if precio > media:
        m = 'Mayor'
    elif precio < media:
        m = 'Menor'
    return m
consul2['Clasificacion'] = consul2['PRECIO'].apply( lambda x : mayor_menor(x))
consul2.loc[:, ['PRECIO', 'Clasificacion']]

c:\Users\usuario\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

    PRECIO Clasificacion
0    15.00         Menor
1    18.00         Menor
2    14.00         Menor
5    37.95         Menor
6   125.95         Mayor
7   150.00         Mayor
10   22.99         Menor
11   24.00         Menor

# 7. Genere una consulta que para cada campaña de tipo “venta” obtenga el talón medio, precio medio, nº de referencias compradas y nº de talones con venta superior al talón medio.

In [92]:
# #ejercicio 7
# consul2 = consul2[consul2['PRECIO'].notna()]
# data
# consul_ventas=df4[df4['TIPO']=='VENTA']
# df_ventas
# data = data[data['PRECIO'].notna()]
# data
# merge_3=pd.merge(df5,df_ventas, how="inner")
# merge_3
# merge_4=pd.merge(data,merge_3,how="inner")
# merge_4
# tabla4=merge_4.groupby('ID_CAMPANIA').sum()
# tabla4
# tabla1=merge_4.groupby('ID_CAMPANIA').mean()
# tabla1

NameError: name 'data' is not defined

In [73]:
# pd.merge(df1,df2,left_on=’Id’,right_on=’Id’,how=’left’)

consul_venta = pd.merge(df4,consul_dep, left_on='TIPO',right_on='TALON',how = 'outer')
consul_venta

consul_venta.groupby('TIPO').sum()

          PRECIO
TIPO
POSVENTA     0.0
VENTA        0.0

## 8. Genere una o varias consultas que devulevan las combinaciones de familias y campañas cuya venta haya sido superior a 100€.

In [80]:
primer_paso = pd.merge(df1, df3, how = 'outer')
primer_paso

  ID_DPTO COD_FAMILIA   DESC_FAMILIA REFERENCIA  FECHA_ALTA
0       1         1F1       Pulseras          A  21/02/2010
1       1         1F1        Anillos          A  21/02/2010
2       2         2F1  Bolso de mano          B  07/02/2014
3       2         2F1  Bolso de mano          C  15/05/2014
4       2         2F1  Bolso de mano          D  01/10/2005
5       2         2F1  Bolso de mano          E  31/10/2010
6       3         3F1        Nautico          F  20/04/2001
7       3         3F2      Sandalias          G  14/02/2015
8       4         4F1       Bermudas          H  25/03/2009

In [81]:
segundo_paso = pd.merge(primer_paso, df3, how = 'outer')
segundo_paso

  ID_DPTO COD_FAMILIA   DESC_FAMILIA REFERENCIA  FECHA_ALTA
0       1         1F1       Pulseras          A  21/02/2010
1       1         1F1        Anillos          A  21/02/2010
2       2         2F1  Bolso de mano          B  07/02/2014
3       2         2F1  Bolso de mano          C  15/05/2014
4       2         2F1  Bolso de mano          D  01/10/2005
5       2         2F1  Bolso de mano          E  31/10/2010
6       3         3F1        Nautico          F  20/04/2001
7       3         3F2      Sandalias          G  14/02/2015
8       4         4F1       Bermudas          H  25/03/2009

In [82]:
tercer_paso = pd.merge(segundo_paso, df6, how = 'outer')
tercer_paso

,ID_DPTO,COD_FAMILIA,DESC_FAMILIA,REFERENCIA,FECHA_ALTA,TALON,PRECIO,FECHA_VENTA
0,1,1F1,Pulseras,A,21/02/2010,01,15.00,11/2/2012
1,1,1F1,Pulseras,A,21/02/2010,02,18.00,15/2/2012
2,1,1F1,Pulseras,A,21/02/2010,03,14.00,2/10/2013
3,1,1F1,Anillos,A,21/02/2010,01,15.00,11/2/2012
4,1,1F1,Anillos,A,21/02/2010,02,18.00,15/2/2012
5,1,1F1,Anillos,A,21/02/2010,03,14.00,2/10/2013
6,2,2F1,Bolso de mano,B,07/02/2014,NaN,NaN,NaN
7,2,2F1,Bolso de mano,C,15/05/2014,NaN,NaN,NaN
8,2,2F1,Bolso de mano,D,01/10/2005,04,37.95,6/8/2010
9,2,2F1,Bolso de mano,E,31/10/2010,05,125.95,31/11/2010
10,2,2F1,Bolso de mano,E,31/10/2010,06,150.00,5/2/2011
11,3,3F1,Nautico,F,20/04/2001,NaN,NaN,NaN
12,3,3F2,Sandalias,G,14/02/2015,NaN,NaN,NaN
13,4,4F1,Bermudas,H,25/03/2009,07,22.99,11/4/2010
14,4,4F1,Bermudas,H,25/03/2009,08,24.00,8/8/2011

In [83]:
cuarto_paso = tercer_paso.dropna(subset=['FECHA_VENTA'])
cuarto_paso

,ID_DPTO,COD_FAMILIA,DESC_FAMILIA,REFERENCIA,FECHA_ALTA,TALON,PRECIO,FECHA_VENTA
0,1,1F1,Pulseras,A,21/02/2010,01,15.00,11/2/2012
1,1,1F1,Pulseras,A,21/02/2010,02,18.00,15/2/2012
2,1,1F1,Pulseras,A,21/02/2010,03,14.00,2/10/2013
3,1,1F1,Anillos,A,21/02/2010,01,15.00,11/2/2012
4,1,1F1,Anillos,A,21/02/2010,02,18.00,15/2/2012
5,1,1F1,Anillos,A,21/02/2010,03,14.00,2/10/2013
8,2,2F1,Bolso de mano,D,01/10/2005,04,37.95,6/8/2010
9,2,2F1,Bolso de mano,E,31/10/2010,05,125.95,31/11/2010
10,2,2F1,Bolso de mano,E,31/10/2010,06,150.00,5/2/2011
13,4,4F1,Bermudas,H,25/03/2009,07,22.99,11/4/2010
14,4,4F1,Bermudas,H,25/03/2009,08,24.00,8/8/2011

In [84]:
quinto_paso = pd.DataFrame(cuarto_paso.groupby('DESC_FAMILIA')['PRECIO'].sum())
quinto_paso

               PRECIO
DESC_FAMILIA
Anillos         47.00
Bermudas        46.99
Bolso de mano  313.90
Pulseras        47.00

In [85]:
familias = pd.DataFrame(quinto_paso['PRECIO'] > 100)
familias

               PRECIO
DESC_FAMILIA
Anillos         False
Bermudas        False
Bolso de mano    True
Pulseras        False

## 9. Genere una o varias consultas que permitan catalogar los artículos vendidos y que no son de la Campaña CA1, según si se tratan de artículos de Ropa o Accesorios. En base a los departamentos y familias. NOTA: Se valorará la elaboración de la consulta y no la veracidad del propio catálogo)

In [91]:
ejer9 = pd.merge(consul2,df4, left_on='TIPO' right_on='ID_CAMPANIA', how = 'left')

SyntaxError: invalid syntax (2698669328.py, line 1)

## 10. Genere una o varias consultas que devuelvan la variación del total de venta entre años. Tomando como variación la siguiente fórmula $$\dfrac{Year_{n} – Year_{n-1}}{Year_{n-1}}$$ (Se valorará el control de valores 0 en la división o de indeterminaciones)

![tablas5](img/Tablas-5.png)