# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [5]:
import random
serie1 = pd.Series(random.randint(1,5),size=100)
serie2 = pd.Series(random.randint(1,4),size=100)
serie3 = pd.Series(random.randint(10000,30000),size=100)

print(serie1,serie2,serie3)

TypeError: __init__() got an unexpected keyword argument 'size'

### Step 3. Let's create a DataFrame by joinning the Series by column

In [4]:
join_column = pd.concat([serie1,serie2,serie3], axis = 1)
join_column

NameError: name 'serie1' is not defined

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [28]:
join_column.rename(columns= {0: 'bedrs', 1: 'bathrs', 2: 'price_sqr_meter'},inplace=True)
join_column

   bedrs  bathrs  price_sqr_meter
0      5       4            18412

### Step 5. Create a column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

### Step 6. Oops, it seems it is going only until index 99. Is it true?

### Step 7. Reindex the DataFrame so it goes from 0 to 299