# Regiment

In [1]:
import pandas as pd

### Step 2. Create the DataFrame with the following values:

In [2]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

### Step 3. Assign it to a variable called regiment.
#### Don't forget to name each column

In [5]:
from pandas import DataFrame


regitment = DataFrame(raw_data)
regitment

      regiment company      name  preTestScore  postTestScore
0   Nighthawks     1st    Miller             4             25
1   Nighthawks     1st  Jacobson            24             94
2   Nighthawks     2nd       Ali            31             57
3   Nighthawks     2nd    Milner             2             62
4     Dragoons     1st     Cooze             3             70
5     Dragoons     1st     Jacon             4             25
6     Dragoons     2nd    Ryaner            24             94
7     Dragoons     2nd      Sone            31             57
8       Scouts     1st     Sloan             2             62
9       Scouts     1st     Piger             3             70
10      Scouts     2nd     Riani             2             62
11      Scouts     2nd       Ali             3             70

### Step 4. What is the mean preTestScore from the regiment Nighthawks?

In [6]:
prete_mean = regitment.groupby('regiment').preTestScore.mean()['Nighthawks']
prete_mean

15.25

In [15]:
prete_mean = DataFrame(regitment.groupby(['regiment']),'Nighthawks').preTestScore.mean()

TypeError: Index(...) must be called with a collection of some kind, 'Nighthawks' was passed


### Step 5. Present general statistics by company

In [13]:
firm = regitment.groupby('company').describe()
firm

        preTestScore                                                      \
               count       mean        std  min   25%   50%    75%   max
company
1st              6.0   6.666667   8.524475  2.0  3.00   3.5   4.00  24.0
2nd              6.0  15.500000  14.652645  2.0  2.25  13.5  29.25  31.0

        postTestScore
                count       mean        std   min    25%   50%   75%   max
company
1st               6.0  57.666667  27.485754  25.0  34.25  66.0  70.0  94.0
2nd               6.0  67.000000  14.057027  57.0  58.25  62.0  68.0  94.0

### Step 6. What is the mean of each company's preTestScore?

In [10]:
firm_mean = pd.DataFrame(regitment.groupby('company')['preTestScore'].mean())
firm_mean

         preTestScore
company
1st          6.666667
2nd         15.500000

### Step 7. Present the mean preTestScores grouped by regiment and company

In [11]:
reg_firm = DataFrame(regitment.groupby(['company','regiment']).preTestScore.mean())
reg_firm

                    preTestScore
company regiment
1st     Dragoons             3.5
        Nighthawks          14.0
        Scouts               2.5
2nd     Dragoons            27.5
        Nighthawks          16.5
        Scouts               2.5

### Step 8. Present the mean preTestScores grouped by regiment and company without heirarchical indexing

In [13]:
import pandas as pd
reg_firm = DataFrame(regitment.groupby(['company','regiment']).preTestScore.mean().unstack(level = 0))
reg_firm

company      1st   2nd
regiment
Dragoons     3.5  27.5
Nighthawks  14.0  16.5
Scouts       2.5   2.5

### Step 9. Group the entire dataframe by regiment and company

In [14]:
entire = DataFrame(regitment.groupby('regiment','company'))
entire

ValueError: No axis named company for object type DataFrame

### Step 10. What is the number of observations in each regiment and company

In [15]:
entire

TypeError: 'numpy.int32' object is not callable

### Step 11. Iterate over a group and print the name and the whole data from the regiment