# Ejercicios de Estadística Descriptiva

## Univariante

# Ejercicio 1

Las cifras dadas en la tabla adjunta corresponden a miligramos de hidroxiprolina absorbidos por 1 miligramo de masa intestinal, analizados en distintos pacientes:

| hidroxipolina (mg) | 77.3 | 61.2 | 82.4 | 75.9 | 61 | 70.2 | 65 | 80 |
|--------------------|------|------|------|------|----|------|----|----|
| nº pacientes       | 3    | 10   | 15   | 13   | 8  | 5    | 2  | 0  |

Se pide:

1. Confeccionar la tabla de frecuencias.
2. Calcular la media, mediana, moda y cuartiles.
3. Calcular la desviación típica de la muestra.
4. ¿Qué porcentaje de observaciones se concentra en el intervalo $(x −5\sigma,x +5\sigma)$?

In [2]:
import pandas as pd

In [4]:


hidrox = [77.3, 61.2, 82.4, 75.9, 61, 70.2, 65, 80]
pacientes = [3, 10, 15, 13, 8, 5, 2, 0]

frecu = pd.DataFrame({'xi': hidrox,'ni': pacientes})
frecu = frecu.sort_values(by = 'xi')

frecu

     xi  ni
4  61.0   8
1  61.2  10
6  65.0   2
5  70.2   5
3  75.9  13
0  77.3   3
7  80.0   0
2  82.4  15

In [9]:
frecu.describe()

              xi         ni
count   8.000000   8.000000
mean   71.625000   7.000000
std     8.487091   5.398412
min    61.000000   0.000000
25%    64.050000   2.750000
50%    73.050000   6.500000
75%    77.975000  10.750000
max    82.400000  15.000000

In [6]:
frecu['Ni'] = frecu['ni'].cumsum()
frecu

     xi  ni  Ni
4  61.0   8   8
1  61.2  10  18
6  65.0   2  20
5  70.2   5  25
3  75.9  13  38
0  77.3   3  41
7  80.0   0  41
2  82.4  15  56

In [13]:
N = frecu['ni'].sum()
N

56

In [18]:
frecu['fi']= frecu['ni']/N
frecu
frecu['fi%']= frecu['fi']*100
frecu

     xi  ni  Ni        fi        fi%
0  77.3   3   3  0.053571   5.357143
1  61.2  10  13  0.178571  17.857143
2  82.4  15  28  0.267857  26.785714
3  75.9  13  41  0.232143  23.214286
4  61.0   8  49  0.142857  14.285714
5  70.2   5  54  0.089286   8.928571
6  65.0   2  56  0.035714   3.571429
7  80.0   0  56  0.000000   0.000000

In [21]:
frecu['Fi']= frecu['fi'].cumsum()
frecu['Fi%'] = frecu['fi%'].cumsum()

frecu

     xi  ni  Ni        fi        fi%        Fi         Fi%
0  77.3   3   3  0.053571   5.357143  0.053571    5.357143
1  61.2  10  13  0.178571  17.857143  0.232143   23.214286
2  82.4  15  28  0.267857  26.785714  0.500000   50.000000
3  75.9  13  41  0.232143  23.214286  0.732143   73.214286
4  61.0   8  49  0.142857  14.285714  0.875000   87.500000
5  70.2   5  54  0.089286   8.928571  0.964286   96.428571
6  65.0   2  56  0.035714   3.571429  1.000000  100.000000
7  80.0   0  56  0.000000   0.000000  1.000000  100.000000

In [7]:
#Al sacarte los booleanos tienes que elegir el primero de todos ya que estan ordenados de menor a mayor. por tanto iloc[0,0]
frecu[frecu['Fi'] > 0.5].iloc[0,0]

KeyError: 'Fi'

In [29]:
frecu['media']= (frecu['xi']*frecu['ni'])/N
a = sum((frecu['xi']*frecu['ni']))
media = a/N

print(media)

72.06428571428572

In [30]:
frecu[frecu['Fi']>= 0.5].iloc[0]

xi       82.400000
ni       15.000000
Ni       28.000000
fi        0.267857
fi%      26.785714
Fi        0.500000
Fi%      50.000000
media    22.071429
Name: 2, dtype: float64

In [31]:
mediana = frecu[frecu['Fi']>= 0.5].iloc[0,0]
print(f"La mediana es {mediana}")

La mediana es 82.4

In [32]:
moda = frecu['xi'][frecu['ni']==frecu['ni'].max()].values
print(f"La moda es {moda}")

La moda es [82.4]

In [33]:
q1 = frecu[frecu['Fi'] >= 0.25].iloc[0,0]
print(f"El cuartil 1 es {q1}")

El cuartil 1 es 82.4

In [35]:
q2 = frecu[frecu['Fi'] >= 0.5].iloc[0,0]
print(f"El cuartil 2 es {q2}")

El cuartil 2 es 82.4

In [34]:
q3 = frecu[frecu['Fi'] >= 0.75].iloc[0,0]
print(f"El cuartil 3 es {q3}")

El cuartil 3 es 61.0

In [36]:
desviaciones = ((frecu['xi']-media)**2)*frecu['ni']
var = desviaciones.sum()/frecu['Ni'].iloc[-1]
std = var ** 0.5

print(f"La varianza es {var} y la desviacion típica es {std}")

La varianza es 74.15658163265309 y la desviacion típica es 8.611421580241737

In [39]:
hidrox = [77.3, 61.2, 82.4, 75.9, 61, 70.2, 65, 80]

intervalo = (max(hidrox) - min(hidrox))/5
print(intervalo)

4.280000000000001

In [41]:
import numpy as np 

arra = np.arange(min(hidrox),max(hidrox)+ intervalo, step= intervalo +1)
intervalos = list(zip(arra,arra[1:]))
intervalos

[(61.0, 66.28), (66.28, 71.56), (71.56, 76.84), (76.84, 82.12)]

# Multivariante

# Ejercicio 2

Los valores del pH sanguíneo de 32 individuos son los siguientes:

|7.33 |7.31 |7.26 |7.33 |7.37 |7.27 |7.30 |7.33|
|-----|-----|-----|-----|-----|-----|-----|----|
|7.33 |7.32 |7.35 |7.39 |7.33 |7.38 |7.33 |7.31|
|7.37 |7.35 |7.34 |7.32 |7.29 |7.35 |7.38 |7.32|
|7.32 |7.33 |7.32 |7.40 |7.33 |7.32 |7.34 |7.33|

1. Agrupar los datos en 5 intervalos y confeccionar la tabla de frecuencias.
2. Calcular la media aritmética, la moda y la mediana.
3. Hallar el tercer decil.
4. Determinar el porcentaje de individuos que se concentra fuera del intervalo $(x −4\sigma,x +4\sigma)$

In [5]:
import pandas as pd 

ph = [7.33,7.31,7.26,7.33,7.37,7.27,7.30,7.33,7.33,7.32, 7.35, 7.39, 7.33 ,7.38, 7.33, 7.31,
7.37, 7.35, 7.34, 7.32, 7.29, 7.35, 7.38, 7.32,7.32, 7.33, 7.32, 7.40, 7.33, 7.32, 7.34,7.33]

df_ph = pd.DataFrame(ph)
print(df_ph)

       0
0   7.33
1   7.31
2   7.26
3   7.33
4   7.37
5   7.27
6   7.30
7   7.33
8   7.33
9   7.32
10  7.35
11  7.39
12  7.33
13  7.38
14  7.33
15  7.31
16  7.37
17  7.35
18  7.34
19  7.32
20  7.29
21  7.35
22  7.38
23  7.32
24  7.32
25  7.33
26  7.32
27  7.40
28  7.33
29  7.32
30  7.34
31  7.33

In [9]:
tama = (max(ph)- min(ph))/5
print(tama)

0.028000000000000115

In [10]:
import numpy as np 

arra2 = np.arange(min(ph),max(ph)+ tama, step= tama +1)
intervalos2 = list(zip(arra2,arra2[1:]))
intervalos2

[]

# Ejercicio 3

En pacientes con distrofia muscular progresiva (enfermedad de Duchenne), la actividad de creatinquinasa sérica se eleva llamativamente sobre el valor normal de 50 unidades por litro. Los siguientes
datos son niveles séricos de creatinquinasa (en unidades por litro) medidos en 24 jóvenes pacientes con la enfermedad confirmada:

|3720 |3795 |3340 |5600 |3800 |3580|
|-----|-----|-----|-----|-----|----|
|5500 |2000 |1570 |2360 |1500 |1840|
|3725 |3790 |3345 |3805 |5595 |3575|
|1995 |5505 |2055 |1575 |1835 |1505|

Se pide:

1. Agrupar los datos en 5 intervalos de clase.
2. Determinar la media y la desviación típica. Calcular la moda y la mediana.
3. Determinar el tercer cuartil, el séptimo decil y el centil 25.

In [14]:
disto = [3720, 3795, 3340, 5600,3800,3580,
5500, 2000, 1570, 2360, 1500,1840,
3725, 3790, 3345, 3805, 5595,3575,
1995, 5505, 2055, 1575, 1835, 1505]

disto_f = pd.DataFrame(disto)

size = (max(disto)- min(disto))/5
size

820.0

In [15]:
arra3 = np.arange(min(disto),max(disto)+ size, step= size +1)
intervalos3 = list(zip(arra3,arra3[1:]))
intervalos3

[(1500.0, 2321.0),
 (2321.0, 3142.0),
 (3142.0, 3963.0),
 (3963.0, 4784.0),
 (4784.0, 5605.0)]

In [17]:
media = [(x + y)/2 for x, y in intervalos3]
media

[1910.5, 2731.5, 3552.5, 4373.5, 5194.5]

In [19]:
import numpy as np
varianza = np.var(disto_f)
print(varianza)

0    1.836683e+06
dtype: float64

In [21]:
desviacion = varianza ** 0.5
desviacion

0    1355.242842
dtype: float64

In [24]:
from scipy import stats

moda = stats.mode(disto_f)
moda

ModeResult(mode=array([[1500]], dtype=int64), count=array([[1]]))

In [27]:
mediana = np.median(disto_f)
mediana

3460.0

In [28]:
disto_f.describe()

                 0
count    24.000000
mean   3204.583333
std    1384.391184
min    1500.000000
25%    1956.250000
50%    3460.000000
75%    3796.250000
max    5600.000000

In [30]:
decil7 = 24*(7)/ 10
decil7

16.8